.btn{
	&--active{
		background-color: $theme-active;
	}
	&--creative{
		background-color: $theme-creative;
	}
	&--useful{
		background-color: $theme-useful;
	}
	&--social{
		background-color: $theme-social;
	}
	&--calm{
		background-color: $theme-calm;
	}
}

.page-link, .current, .entry-meta a, .nav-links a { 
	color: $dark; 
}

.page-item.active .page-link{ 
	color: $dark; 
	border: 1px solid $grey; 
}

// SHAME - find somewhere better for this
.entry-meta {
	color: $dark-grey;
	margin-bottom: 1rem;
}

