.btn{
	&--active{
		background-color: $theme-active;
	}
	&--creative{
		background-color: $theme-creative;
	}
	&--useful{
		background-color: $theme-useful;
	}
	&--social{
		background-color: $theme-social;
	}
	&--calm{
		background-color: $theme-calm;
	}
}

.page-link, .current { color: $dark; }

.page-item .active{ color: $dark; }