.lead_story__card{
	background: $grey ;
	padding: 1rem ;
	margin: 1rem 0 ;
	border-radius: 10px;
}

.lead_story__image{
	background: $dark-grey ;
	margin-right: 2rem;
}

.lead_story__info{
	margin-left: 1rem ;

}

.blog-container{
	background: $grey ;
}

.blog-item{
	flex-basis: 100%;
	@include respond-to('md'){
		flex-basis: 100%;
		margin-right: 2rem;
    }
	@include respond-to('lg'){
		flex-basis: 33%;
		margin-right: 2rem;
    }

}

.flex-container{
	display: flex; 

}

.flex-item{
	flex-basis: 100%;
	@include respond-to('md'){
		flex-basis: 100%;
    }
	@include respond-to('lg'){
		flex-basis: 50%;
    }
}

.new-flex__container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
}

.new-flex__item{
	flex-basis: 33%;
	flex-grow: 1;
	background-color: $grey;
}


.activity-container{
	background-color: $grey ;
	padding: 1rem ;
	margin: 1rem 0 ;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;

	.activity-card__item{
		background-color: $white;
		border: 1px solid $dark-grey;
		flex-basis: 30%;
		margin-right: 0 1rem 1rem 0;
		padding: 1rem;
		@include respond-to('md'){
			flex-basis: 100%;
	    }
		@include respond-to('lg'){
			flex-basis: 30%;
	    }
	}

	.activity-card__img{
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 100px;
		width: 200px;
	}

	.activity-card__summary{
		text-align: center;
		font-size: 1rem;
	}
}

