.lead_story__card{
	background: $grey ;
	padding: 1rem ;
	margin: 1rem 0 ;
	border-radius: 10px;
}

.lead_story__image{
	background: $dark-grey ;
	margin-right: 2rem;
}

.lead_story__info{
	margin-left: 1rem ;

}

.blog-container{
	background: $grey ;
}

.blog-item{
	flex-basis: 100%;
	@include respond-to('md'){
		flex-basis: 100%;
		margin-right: 2rem;
    }
	@include respond-to('lg'){
		flex-basis: 33%;
		margin-right: 2rem;
    }

}

.flex-container{
	display: flex; 

}

.flex-item{
	flex-basis: 100%;
	@include respond-to('md'){
		flex-basis: 100%;
    }
	@include respond-to('lg'){
		flex-basis: 50%;
    }
}

.activity-container{
	background: $grey ;
	padding: 1rem ;
	margin: 1rem 0 ;
	border-radius: 10px;
	flex-basis: 100%;

	.activity-card__item{
		flex-basis: 100%;
	}

	.activity-card__img{
		background-size: cover;
		height: 50px;
		width: 200px;
	}

	.activity-card__summary{
		font-size: 1rem;
	}
}

