// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

/* Media Queries */
$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/* Colors */
$blue: #30b5f2;
$dark-blue: #0077AF;
$green: #4e8f48;
$orange: #b8b6a1;
$red: #d70014;
$purple: #996fca;
$pink: #ff8cd3;
$hot-pink: #e83378;
$light-grey: #f0f4f7;

$primary: $blue; // Thats a sample how you could change a BootStrap variable.
$secondary: $dark-blue;

/* Fonts */
$regular-font-size: 12pt;
$small-font-size: 9pt;

/* Styles */
$corner-rad: 5px;
