// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

/* Media Queries */
$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-superwide: 1280px;

// BREAKPOINTS -------

/* 
$sm: 769px; // small
$md: 1025px; // medium
$lg: 1400px; // large
$xl: 1600px; // extra large
 */
/* 
$grid-breakpoints: (
  xs: 0,
  sm: 769px,
  md: 1025px, 
  lg: 1400px,
  xl: 1600px
) !default;
 */

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px, 
  lg: 1024px,
  xl: 1280px
) !default;



/* Colors */
$blue: #78c2e7;
$dark-blue: #0077AF;

$green: #499c36;
$dark-green: #126328;

$purple: #996fca;
$dark-purple: #69317d;

$maroon: #431033;

$pink: #ff8cd3;
$hot-pink: #ce1584;
$dark-pink: #9c0860;

$orange: #d99a35;
$red: #d70014;
$light-grey: #f0f4f7;

$primary: #ffffff; // Thats a sample how you could change a BootStrap variable.
$secondary: $hot-pink;

$dark: #000000;
$dark-grey: #666666;
$grey: #dee2e6;
$light : #ffffff;


/* -- COLOURS -- */
/*
$theme-active: #CC0000; // Red
$theme-calm: #0B8CE3; // Blue;
$theme-creative: #E3CD0B; // Yellow
$theme-social: #E69500; // Orange
$theme-useful: #009900; // Green
*/

$theme-active: #CC0000; // Red
$theme-calm: #0B8CE3; // Blue;
$theme-creative: #fcee21; // Yellow
$theme-social: #f86400; // Orange
$theme-useful: #009900; // Green

$theme-creative-dark: #4f3318; // Brown

/* Fonts */
$regular-font-size: 12pt;
$small-font-size: 9pt;

/* Styles */
$corner-rad: 5px;
