// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


/*-- FONTS --*/
@font-face {
    font-family: 'Lato Regular';
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Lato Black';
    src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}

/*-- MIX-INS --*/
@mixin centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin action-box {
	color: white;
	text-align: center;
	width: auto;
	margin: 20px 0px 20px 0px;
	padding: 20px;
	
	@media all and (max-width: $breakpoint-phone) {
		text-align: left;
	}	
}


/* -- GLOBAL -- */
html, body {
	background-color: white;
	font-family: 'Lato Regular', sans-serif;
	height: 100%;
}

.centered {
	@include centered;
}

.vertical-center {
	@include vertical-center;
}

.container {
	width: 100%;
}

/* -- Typography -- */

h2 {
	font-family: 'Lato Regular', sans-serif;
}

h3 {
	font-size: 21pt;
	
	font-family: 'Lato Black', sans-serif;
	padding: 15px 0px;
	
	@media all and (max-width: $breakpoint-phone) {
		padding: 5px 0px 5px 0px;
		font-size: 14pt;
	}
}

h4 {
	font-size: 14pt;
	
	font-family: 'Lato Black', sans-serif;
	padding: 15px 0px;
	
	@media all and (max-width: $breakpoint-phone) {
		padding: 5px 0px 5px 0px;	
		font-size: 12pt;
		margin: 0;
	}
}

p, ul, li {
	@media all and (max-width: $breakpoint-phone) {
		font-size: 10pt;	
	}
}

.center-text {
	text-align: center;
}

/* -- Links -- */

p {
	a {
		background:
		 linear-gradient(
		   to bottom, #ffd900 0%,
		   #ffd900 100%
		 );
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 4px 4px;
		color: #000;
		text-decoration: none;
		transition: background-size .4s;
		
		&:hover {
			background-size: 4px 50px;
			color: inherit;
			text-decoration: none;
		}
	}	
}

 h1, h2, h3, h4 {
	 a {
		 color: black;
		 
		 &:hover {
			color: black;
		 	text-decoration: none;
		 }
	 }
 }

.call-to-action-btn {
	@include centered;
	
	text-align: center;
	background-color: $green;
	width: auto;
	color: white;
	padding: 10px;
	margin: 20px 0px 20px 0px;
	border-radius: $corner-rad;
	
	&:hover {
		color: white;
		text-decoration: none;
		filter: brightness(90%);
	}
}

/* -- Images -- */
.icon {
	width: 125px;
	transition: transform 0.2s;
	
	&:hover {
		transform: scale(.9);
		transition: transform 0.2s;
	}
}

/* -- Navs & Menus -- */

.navbar-brand {
	width: 200px;
}

.navbar-dark .navbar-toggler {
	border: solid $secondary 3px;
	background-color: $secondary;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");	
}


.navbar-dark .navbar-nav .nav-link {
	color: rgba(0,0,0,1);
	
	&:hover, &:active, &:focus {
		color: $secondary;
	}
}

.navbar-dark .navbar-nav .active > .nav-link {
	background-color: $secondary;
		&:hover, &:active, &:focus {
			color: white;
		}
}

#primary-menu {
	color: black;
}

#secondary-menu, #secondaryNavDropdown a {
	color: white;
	text-align: center;
	
	a:hover {
		color: yellow;
	}
}

#tertiaryNavDropdown {
	height: 30px;
	font-size: $small-font-size;
	flex-direction: row-reverse;
}

/* -- Footer -- */

.wrapper {
	padding: 0;
}

.partners {
	background-color: white;
	color: black;
	padding: 20px;
	
	img {
		margin: 20px;
		height: 70px;
		object-fit: contain;
		
	}
}

.footer-links {
	background-color: $secondary;
	color: white;
	padding: 20px 0px 20px 0px;
}

.footer-left {
	display: flex;
	align-items: center;
}

.footer-right {
	text-align: right;
	
	.links {
		margin-bottom: 40px;
		font-size: $small-font-size;
	}
	
	span {
		padding: 10px 0px 10px 40px;
		
		@media all and (max-width: $breakpoint-phone) {
			padding: 10px 20px 10px 0px;
		}
	}

	p {
		margin-bottom: 0;
	}
	
	@media all and (max-width: $breakpoint-phone) {
		text-align: left;
	}
}

/* -- Styling -- */
button {
	-webkit-appearance: button;
	border: none;
}

/* -- HOMEPAGE -- */
/* -- Styles -- */

.highlight {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	background-color: $light-grey;
	padding: 30px;
	border: solid white 20px;
	border-radius: $corner-rad;
	
	ul {
		padding: 0px;
		margin: 0px;
	}
	
	li {
		padding: 5px 0px 5px 0px;
	}
	
	@media all and (max-width: $breakpoint-phone) {
		border-top: solid white 20px;
		border-bottom: solid white 20px;
		border-left: 0;
		border-right: 0;
	}
}

/* -- Search Bar --*/

.search {
	background-color: $blue;
	padding: 30px;
	border: solid white 20px;
	color: white;
	
	
	@media all and (max-width: $breakpoint-phone) {
		border-top: solid white 20px;
		border-bottom: solid white 20px;
		border-left: 0;
		border-right: 0;
	}
}

form.wp-block-search {
	background-color: $blue;
	color: white;
	padding: 10px 30px 20px 30px;
	border-radius: $corner-rad;
}

button.wp-block-search__button {
	background-color: $dark-blue;
	color: white;
	border-radius: $corner-rad;
	padding: 5px 40px;
	
	@media all and (max-width: $breakpoint-phone) {
		margin: 10px 0px 10px 0px;
	}
}

.wp-block-search .wp-block-search__button {
	@media all and (max-width: $breakpoint-phone) {
		margin-left: 0px;
	}
}

.wp-block-search__input {
	border: 0;
	padding: 0px 10px 0px 10px;
}

/* -- What would you like to try? -- */
.activity {
	@media all and (max-width: $breakpoint-phone) {
		display: flex;
		flex-direction: row;
	}
}

.activity-description, .activity-name {
	text-align: center;
		@media all and (max-width: $breakpoint-phone) {
			text-align: left;
		}	
}

/*-- What do you want to be?-- */

.what-do-you-want-to-be {
	padding: 20px 0px 500px 0px;
}

.mood-btns {
	
	display: flex;
	justify-content: center;
	
	@media all and (max-width: $breakpoint-phone) {
		display: flex;
		justify-content: left;
	}
	
	button {
		width: 150px;
		padding: 7px;
		margin: 10px;
		color: white;
		
		&:hover {
			color: white;
			text-decoration: none;
			filter: brightness(90%);
		}	
		
		@media all and (max-width: $breakpoint-phone) {
			width: 90px;
			padding: 5px;
			margin: 5px 0px 5px 0px;
			font-size: $small-font-size;
		}
	}
}

/* -- CONTENT PAGES -- */
/* -- Images --*/
.hero {
	@include centered;
	
	padding: 30px 20px 30px 20px;
	
	img {
		height: 350px;
		width: 100%;
		object-fit: cover;
		
		@media all and (max-width: $breakpoint-phone) {
			height: 200px;
			padding: 0;
		}
	}
	@media all and (max-width: $breakpoint-phone) {
		padding: 0px;
	}
}

.content-copy {
	padding-right: 20%;
	padding-left: 20%;
	@media all and (max-width: $breakpoint-phone) {
		padding-right: 10%;
		padding-left: 10%;
	}
}

.action-box-one {
	@include action-box;

	background-color: $blue;
	
	.call-to-action-btn {
		background-color: $dark-blue;
	}
}

.action-box-two {	
	@include action-box;
	
	background-color: $green;
	
	.call-to-action-btn {
		background-color: $dark-green;
	}
}

.action-box-three {	
	@include action-box;
	
	background-color: $purple;
	
	.call-to-action-btn {
		background-color: $dark-purple;
	}
}
