@mixin centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin action-box {
	color: white;
	text-align: center;
	width: auto;
	margin: 20px 0px 20px 0px;
	padding: 20px;
	
	@media all and (max-width: $breakpoint-phone) {
		text-align: left;
	}	
}

.centered {
	@include centered;
}

.vertical-center {
	@include vertical-center;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media (min-width: #{map-get($grid-breakpoints, $breakpoint)}) {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map in variables.scss.";
  }
}