.hero {
	@include centered;
	
	padding: 30px 20px 30px 20px;
	height: 500px;
	margin: 0px -15px 20px -15px;
	
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;

    @include respond-to('sm'){
		padding: 0px;
		height: 250px;
    }

    @include respond-to('md'){
		padding: 0px;
		height: 330px;
    }

    @include respond-to('lg'){
		padding: 0px;
		height: 480px;
    }

    @include respond-to('xl'){
		padding: 0px;
		height: 640px;
		background-position: 50% 25%;
    }


	img {
		width: 100%;
		object-fit: cover;
		
		@media all and (max-width: $breakpoint-phone) {
			height: 200px;
			padding: 0;
		}
	}
}

.icon {
	width: 125px;
	transition: transform 0.2s;
	
	&:hover {
		transform: scale(.9);
		transition: transform 0.2s;
	}
}