.actionplan {

	input, textarea, label {

		display: block;
		width: 100%;

	}

	label {

		margin-top: 1rem;

	}

	input[type="submit"] {

		background-color: $dark-blue;
		border-radius: $corner-rad;
		border: 0px solid $dark-blue;
		width: 100%;
		padding: 0.5rem 1rem;
		color: $light;
	
	}


}