.content-copy {
	padding-right: 20%;
	padding-left: 20%;
	@media all and (max-width: $breakpoint-phone) {
		padding-right: 10%;
		padding-left: 10%;
	}
}

.action-box--1 {
	@include action-box;

	background-color: $blue;
	
	.call-to-action-btn {
		background-color: $dark-blue;
	}
}

.action-box--2 {	
	@include action-box;
	
	background-color: $green;
	
	.call-to-action-btn {
		background-color: $dark-green;
	}
}

.action-box--3 {	
	@include action-box;
	
	background-color: $purple;
	
	.call-to-action-btn {
		background-color: $dark-purple;
	}
}



.action-box--active {	
	@include action-box;
	
	// background-color: lighten($theme-active, 25%);
	background-color: mix($theme-active, white, 10%);
	
	.call-to-action-btn {
		background-color: $theme-active;
	}
}


.action-box--calm {	
	@include action-box;
	
	background-color: mix($theme-calm, white, 10%);
	
	.call-to-action-btn {
		background-color: $theme-calm;
	}
}


.action-box--creative {	
	@include action-box;
	
	background-color: mix($theme-creative, white, 10%);
	
	.call-to-action-btn {
		background-color: $theme-creative;
	}
}


.action-box--useful {	
	@include action-box;
	
	background-color: mix($theme-useful, white, 10%);
	
	.call-to-action-btn {
		background-color: $theme-useful;
	}
}


.action-box--social {	
	@include action-box;
	
	background-color: mix($theme-social, white, 10%);
	
	.call-to-action-btn {
		background-color: $theme-social;
	}
}

