.entry-content{
	p:first-of-type{
		font-size: 1.25rem;
		font-weight: bold;
	}
}

.entry-content p:first-of-type{
	font-size: 1.25rem;
	font-weight: bold;
}

.entry-content dl p:first-of-type{
	font-size: 1rem;
	font-weight: normal;
}

.edit-link {
	display: none;
}

.main_address {
	margin-bottom: 1rem;
}

.additional_information{
	background-color: rgba(255,209,133, 50);
	border-radius: 1rem ;
	padding: 1rem;
	margin: 1rem 0;
	dt{
		font-size: 1.25rem;
		font-weight: bold;
	}
	dd{
		font-size: 1rem;

	}
	p{
		font-size: 1rem;
	}
}

.activity_images__container{
	margin-bottom: 1rem;
}

.activity_images__img{
	width: 250px;
	height: 250px;
	background-size: cover;
	background-color: $grey;
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
}

.activity_contact__container{
	background-color: $grey;
	border-radius: 1rem ;
	padding: 1rem;
	margin: 1rem 0;
}