.navbar-brand {
	width: 200px;
}

.navbar-dark .navbar-toggler {
	border: solid $secondary 3px;
	background-color: $secondary;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");	
}

// Normal state
.navbar-dark .navbar-nav .nav-link {
	color: rgba(0,0,0,1);
	margin-left: 15px;
	
	&:hover, &:active, &:focus {
		color: $secondary;
	}
}

// Active state
.navbar-dark .navbar-nav .active > .nav-link {
	background-color: $secondary;
	border-radius: 8px;
		&:hover, &:active, &:focus {
			color: white;
		}
}

#primary-menu {
	color: black;
}

#secondary-menu, #secondaryNavDropdown a {
	color: white;
	text-align: center;
	
	a:hover {
		color: yellow;
	}
}

#tertiaryNavDropdown {
	height: 30px;
	font-size: $small-font-size;
	flex-direction: row-reverse;
}
