.navbar-brand {
	
	width: 200px;
    
    @include respond-to('md'){
		width: 200px;
    }

    @include respond-to('lg'){
		width: 280px;
    }

    @include respond-to('xl'){
		width: 320px;
    }
}

.navbar-dark .navbar-toggler {
	border: solid $secondary 3px;
	background-color: $secondary;
}

// Logo
.navbar-dark .navbar-brand {
	width: 200px;
	margin: 1rem 2rem;
}


.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");	
}

.nav-link{
	font-family: 'Lato Regular';
}

// Normal state
.navbar-dark .navbar-nav .nav-link {
	color: rgba(0,0,0,1);
	margin-left: 15px;
	padding: 1rem;
	&:hover, &:active, &:focus {
		color: $secondary;
	}
}

// Active state
.navbar-dark .navbar-nav .active > .nav-link {
	background-color: $secondary;
	border-radius: 5px;
		&:hover, &:active, &:focus {
			color: white;
		}
}

#primary-menu {
	color: black;
}

.bg-secondary {
	padding: 0;
}

@include respond-to('md'){
	.arrow-right {
	  width: 0; 
	  height: 0; 
	  border-top: 37px solid transparent;
	  border-bottom: 37px solid transparent;
	  
	  border-left: 30px solid $dark-pink;
	}
}


.be-more-active {
	background-color: $dark-pink;
	display:flex;
	align-items: center;
	height: 100%;
	text-transform: uppercase;
	padding: 1.5rem;
	font-size: 1.2rem;
}

#secondary-menu{
	z-index: 50;
}
#secondary-menu, #secondaryNavDropdown a {
	color: white;
	text-align: center;
	
	a:hover {
		color: yellow;
	}
}

#tertiaryNavDropdown {
	height: 30px;
	font-size: $small-font-size;
	flex-direction: row-reverse;
}

.notification_banner{

	background-color: $theme-calm;
	color: $light;
	text-align: center;
	padding: 2rem 17.5vw;

}

@include respond-to('md'){
	.notification_banner-right {
		padding: 2rem 33vw;
	}
}


.internet_explorer_notice{
	/* CREATE ALL STYLES BUT HIDE FROM MODERN BROWSERS BY DEFAULT */
	display: none;

	background-color: $dark-grey;
	color: $light;
	text-align: center;
	padding: 2rem 17.5vw;

	p a {
		color: $light;
	}
	p a:hover{
		color: $dark;
	}

}

.internet_explorer_notice--ie9{
	/* SHOW FOR IE9 AND BELOW - CONDITIONAL */
	display: block;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	/* SHOW FOR IE10 AND ABOVE - MS-SPECIFIC MEDIA QUERY */
	/* IE10+ specific styles go here */ 
	.internet_explorer_notice--ie10{
		display: block;
	}
	.ie-flex-override{
		display: block !important;
	}
}

@include respond-to('md'){
	.internet_explorer_notice-right {
		padding: 2rem 33vw;
	}
}

