.navbar-brand {
	
	width: 200px;
    
    @include respond-to('md'){
		width: 200px;
    }

    @include respond-to('lg'){
		width: 280px;
    }

    @include respond-to('xl'){
		width: 320px;
    }
}

.navbar-dark .navbar-toggler {
	border: solid $secondary 3px;
	background-color: $secondary;
}


.navbar-toggler.collapsed{
	border: 10px solid #456;
}

.navbar-toggler.collapse{
	border: 10px solid #567;
}

.navbar-toggler.collapsed{
	border: 10px solid #678;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");	
}

.nav-link{
	font-family: 'Lato Black';
}

// Normal state
.navbar-dark .navbar-nav .nav-link {
	color: rgba(0,0,0,1);
	margin-left: 15px;
	padding: 1rem;
	&:hover, &:active, &:focus {
		color: $secondary;
	}
}

// Active state
.navbar-dark .navbar-nav .active > .nav-link {
	background-color: $secondary;
	border-radius: 5px;
		&:hover, &:active, &:focus {
			color: white;
		}
}

#primary-menu {
	color: black;
}

#secondary-menu, #secondaryNavDropdown a {
	color: white;
	text-align: center;
	
	a:hover {
		color: yellow;
	}
}

#tertiaryNavDropdown {
	height: 30px;
	font-size: $small-font-size;
	flex-direction: row-reverse;
}
