/* -- HOMEPAGE -- */
/* -- Styles -- */

.highlight {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	background-color: $light-grey;
	border-radius: 10px;
	padding: 2rem;
	margin: 20px 10px;

	font-size: 1.33rem;
	
	ul {
		padding: 0px;
		margin: 0px;
	}
	
	li {
		padding: 5px 0px 5px 0px;
	}
}

.action-box {
	background-color: $blue;
	color: $blue;
	padding: 30px;
	color: white;
	margin: 20px 10px;
	border-radius: 10px;
	h1{
		color: white;
	}
}

/* -- Search Bar --*/

form.wp-block-search {
	background-color: $blue;
	color: white;
	padding: 10px 30px 20px 30px;
	border-radius: $corner-rad;
}

button.wp-block-search__button {
	background-color: $dark-blue;
	color: white;
	border-radius: $corner-rad;
	padding: 5px 40px;
	
	@media all and (max-width: $breakpoint-phone) {
		margin: 10px 0px 10px 0px;
	}
}

.wp-block-search .wp-block-search__button {
	@media all and (max-width: $breakpoint-phone) {
		margin-left: 0px;
	}
}

.wp-block-search__input {
	border: 0;
	padding: 0px 10px 0px 10px;
}

/* -- What would you like to try? -- */
.activity {
	@media all and (max-width: $breakpoint-phone) {
		display: flex;
		flex-direction: row;
	}
}

.activity-description, .activity-name {

		@media all and (max-width: $breakpoint-tablet) {
			text-align: left;
		}	
		@include respond-to('md'){
				text-align: center;
		}
}

/*-- What do you want to be?-- */

.what-do-you-want-to-be {
	padding: 20px 0px 500px 0px;
}

.mood-btns {
	display: flex;
	justify-content: center;
	
	@media all and (min-width: $breakpoint-phone) {
		display: flex;
		justify-content: center;
	}
	
	button {
		width: 150px;
		padding: 7px;
		margin: 10px;
		color: white;
		border-radius: 8px;
		
		&:hover {
			color: white;
			text-decoration: none;
			filter: brightness(90%);
		}	
		
		@media all and (min-width: $breakpoint-phone) {
			width: 90px;
			padding: 5px;
			margin: 5px 0px 5px 0px;
			font-size: $small-font-size;
		}
	}
}

.mood-btns__container{
	display: flex;
	justify-content: center;
}

.mood-btns__item{
	button{
		margin: 1rem;
		width: 150px;
		@include respond-to('lg'){
			font-size: 1rem;
			align-items: center;
			margin: 1em;
			padding: 0.5rem;
			height: 3rem;
		}

	}

}


