/* -- FAVORITES -- */
/* -- Styles -- */

.simplefavorite-button{
	margin: 1rem 0;
	border-radius: 3px;
}

.favorites-list, .no-favorites {
	padding-left: 0;
}

.widget_jr_widget, .widget_mc_widget{
	padding: 1rem 2rem;
	margin: 1rem 0;
	background-color: #eee;
	border-radius: 3px;

}