/* -- FAVORITES -- */
/* -- Styles -- */

.simplefavorite-button{
	margin: 1rem 0;
	background-color: #333;
	color: #eee;
	border-radius: 3px;
}

.favorites-list {
	padding-left: 0;
}

.widget_jr_widget{
	padding: 1rem 2rem;
	margin: 1rem 0;
	background-color: #eee;
	border-radius: 3px;

}